<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>ducnt.filters.RoleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>ducnt.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ducnt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>ducnt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>ducnt.controllers.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>ducnt.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>ducnt.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserDetailController</servlet-name>
        <servlet-class>ducnt.controllers.SearchUserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEquipmentController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipmentController</servlet-name>
        <servlet-class>ducnt.controllers.SearchEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipmentDetailController</servlet-name>
        <servlet-class>ducnt.controllers.SearchEquipmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEquipmentController</servlet-name>
        <servlet-class>ducnt.controllers.EditEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <servlet-class>ducnt.controllers.UpdateEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFateController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFateController</servlet-name>
        <servlet-class>ducnt.controllers.SearchFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFateController</servlet-name>
        <servlet-class>ducnt.controllers.EditFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFateController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFateController</servlet-name>
        <servlet-class>ducnt.controllers.UpdateFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFateDetailController</servlet-name>
        <servlet-class>ducnt.controllers.SearchFateDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFateActorCartController</servlet-name>
        <servlet-class>ducnt.controllers.AddFateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFateActorCartController</servlet-name>
        <servlet-class>ducnt.controllers.EditFateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFateDirectorController</servlet-name>
        <servlet-class>ducnt.controllers.LoadFateDirectorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFateActorCartController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteFateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFateActorCartController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterFateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDirectorFateController</servlet-name>
        <servlet-class>ducnt.controllers.LoadDirectorFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFateActorCartController</servlet-name>
        <servlet-class>ducnt.controllers.UpdateFateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFateEquipmentCartController</servlet-name>
        <servlet-class>ducnt.controllers.AddFateEquipmentCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFateEquipmentCartController</servlet-name>
        <servlet-class>ducnt.controllers.DeleteFateEquipmentCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFateEquipmentCartController</servlet-name>
        <servlet-class>ducnt.controllers.RegisterFateEquipmentCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFateEquipmentCartController</servlet-name>
        <servlet-class>ducnt.controllers.UpdateFateEquipmentCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipmentReportController</servlet-name>
        <servlet-class>ducnt.controllers.SearchEquipmentReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFateHistoryOfActorController</servlet-name>
        <servlet-class>ducnt.controllers.LoadFateHistoryOfActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIncomingFateOfActorController</servlet-name>
        <servlet-class>ducnt.controllers.LoadIncomingFateOfActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFateOfActorController</servlet-name>
        <servlet-class>ducnt.controllers.LoadFateOfActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFateController</servlet-name>
        <servlet-class>ducnt.controllers.DownloadFateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNotificationController</servlet-name>
        <servlet-class>ducnt.controllers.LoadNotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserDetailController</servlet-name>
        <url-pattern>/SearchUserDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEquipmentController</servlet-name>
        <url-pattern>/RegisterEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipmentController</servlet-name>
        <url-pattern>/SearchEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipmentDetailController</servlet-name>
        <url-pattern>/SearchEquipmentDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEquipmentController</servlet-name>
        <url-pattern>/EditEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <url-pattern>/UpdateEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <url-pattern>/DeleteEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFateController</servlet-name>
        <url-pattern>/RegisterFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFateController</servlet-name>
        <url-pattern>/SearchFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFateController</servlet-name>
        <url-pattern>/EditFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFateController</servlet-name>
        <url-pattern>/DeleteFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFateController</servlet-name>
        <url-pattern>/UpdateFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFateDetailController</servlet-name>
        <url-pattern>/SearchFateDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFateActorCartController</servlet-name>
        <url-pattern>/AddFateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFateActorCartController</servlet-name>
        <url-pattern>/EditFateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFateDirectorController</servlet-name>
        <url-pattern>/LoadFateDirectorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFateActorCartController</servlet-name>
        <url-pattern>/DeleteFateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFateActorCartController</servlet-name>
        <url-pattern>/RegisterFateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDirectorFateController</servlet-name>
        <url-pattern>/LoadDirectorFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFateActorCartController</servlet-name>
        <url-pattern>/UpdateFateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFateEquipmentCartController</servlet-name>
        <url-pattern>/AddFateEquipmentCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFateEquipmentCartController</servlet-name>
        <url-pattern>/DeleteFateEquipmentCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFateEquipmentCartController</servlet-name>
        <url-pattern>/RegisterFateEquipmentCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFateEquipmentCartController</servlet-name>
        <url-pattern>/UpdateFateEquipmentCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipmentReportController</servlet-name>
        <url-pattern>/SearchEquipmentReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFateHistoryOfActorController</servlet-name>
        <url-pattern>/LoadFateHistoryOfActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIncomingFateOfActorController</servlet-name>
        <url-pattern>/LoadIncomingFateOfActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFateOfActorController</servlet-name>
        <url-pattern>/LoadFateOfActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFateController</servlet-name>
        <url-pattern>/DownloadFateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNotificationController</servlet-name>
        <url-pattern>/LoadNotificationController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>TAYDUKI</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
